$color-main: #FFF6C7;
$color-secondary: #003A1C;

$font-main: 'Taviraj', serif;
$font-secondary: 'Montserrat', sans-serif;

$section-padding-desktop: 10rem;
$section-padding-mobile: 8rem 3rem;

$margin-top-md: 3rem;