
@import "~bootstrap/scss/bootstrap";
@import 'abstract/vars';
@import 'abstract/mixins';

@import 'components/btn';
@import 'components/nav';

@import 'sections/landing';
@import 'sections/search';
@import 'sections/details';
@import 'sections/footer';

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-secondary;

  @include media-breakpoint-down(md){
    font-size: 58%;
  }

  @include media-breakpoint-down(sm){
    font-size: 55%
  }

  @include media-breakpoint-down(xs){
    font-size: 50%;
  }
}